@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --bg-black-900: #302e4d;
    --bg-black-100: #504e70;
    --bg-black-50: #444266;
    --text-black-900: #f2f2fc;
    --text-black-700: #fdf9ff;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background: var(--bg-black-900);
    color: var(--text-black-900);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.section {
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
}

.hidden {
    display: none !important;
}

.main-content {
    padding-left: 270px;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before {
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.timeline-box{
    width: 100%;    
    display: flex;
    flex: 0 0 100%;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    border-radius: 40px;
    background: var(--skin-color);
    display: inline-block;
    white-space: nowrap;
    transition: all 0.3s ease;
    border: none;
    color: white;
    cursor:pointer;
}

.btn:hover {
    transform: scale(1.05);
    cursor:pointer;
}

.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* --- Nav --- */
.navbar{
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left : 0;
    top : 0;
    display: flex;
    border-right: 1px solid var(--bg-black-50);
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 100%;
    z-index: 10;
}

.navbar .logo
{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.navbar .logo a
{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size:  30px;
    letter-spacing: 5px;
    position: relative;
}

.navbar .nav-toggler
{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
}

.navbar .nav-toggler span
{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.navbar .nav-toggler span::before
{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.navbar .nav-toggler span::after
{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}

.navbar .logo a span
{
   font-family: 'Clicker Script' , cursive;
   font-size: 40px;
}

.navbar .logo a::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}

.navbar .logo a::after
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top : 0;
    right : 0;
}

.navbar .nav
{
    margin-top: 50px;
}

.navbar .nav li
{
    margin-bottom: 20px;
    display: block;
}

.navbar .nav li a {
    position: relative;
    font-size: 1.1em;
    font-weight: 500;
    color: #ecf0f1;
    text-decoration: none;
    padding: 6px 20px;
    transition: 0.3s; /* Added transition for color change */
}

.navbar .nav li a:hover {
    border-radius: 25%;
    border-bottom: 2px solid #0ef;
    color: #3498db; /* Changed color to change on hover */
}

.navbar .nav li a span {
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: 1;
    border-bottom: 2px solid #0ef;
    border-radius: 15px;
    transform: scale(0) translateY(50px); 
    opacity: 0;
    transition: transform 0.5s;
}

.navbar .nav li a:hover span {
    transform: scale(1) translateY(0);
    opacity: 1; 
}


/* ----Nav Ends---- */
/* ---home--- */
.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-info {
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello {
    font-size: 20px;
    margin: 15px 0;
}

h3.hello span {
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}

h3.my-profession {
    font-size: 30px;
    margin: 15px 0;
}

.typing {
    color: var(--skin-color);
}

.home-info p {
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}

.home .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.home .home-img img {
    height: 400px;
    margin: auto;
    border-radius: 5px;
}

/* About */


.about .about-content {
    flex: 0 0 100%;
    min-width: 100%;
}

.about .about-content .about-text {
    flex: 0 0 100%;
    min-width: 100%;
}

.about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .about-text h3 span {
    color: var(--skin-color);
}

.about .about-content .about-text p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}

.about .about-content .personal-info {
    flex: 0 0 60%;
    min-width: 60%;
    margin-top: 40px;
}

.about .about-content .personal-info .info-item {
    flex: 0 0 50%;
    min-width: 50%;
}

.about .about-content .personal-info .info-item p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span {
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}

.about .about-content .personal-info .buttons {
    margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn {
    margin-right: 15px;
    margin-top: 10px;
    cursor:pointer;
}

.about .about-content h3.title {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .timeline-box {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .timeline {
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.about .about-content .timeline .timeline-item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}

.about .about-content .timeline .timeline-item:last-child {
    padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before {
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}

.about .about-content .timeline .circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}

.about .about-content .timeline .timeline-date {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}

.about .about-content .timeline .timeline-date .fa {
    margin-right: 10px;
}

.about .about-content .timeline .timeline-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}

.about .about-content .timeline .timeline-text {
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}

.control_svg{
    
}